SportsmenMonitoringVersion#1/Service References/ServiceConnectServer/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSportsmens" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSportsmens" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="ArrayOfGoals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Goals" nillable="true" type="tns:Goals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoals" nillable="true" type="tns:ArrayOfGoals" />
  <xs:complexType name="Goals">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="DisciplineId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="PeriodDays" type="xs:short" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="Standart_Data" nillable="true" type="tns:ArrayOfStandart_Data">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Users_Goals" nillable="true" type="tns:ArrayOfUsers_Goals">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Goals" nillable="true" type="tns:Goals" />
  <xs:complexType name="ArrayOfStandart_Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Standart_Data" nillable="true" type="tns:Standart_Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandart_Data" nillable="true" type="tns:ArrayOfStandart_Data" />
  <xs:complexType name="Standart_Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="GoalId" type="xs:int" />
      <xs:element minOccurs="0" name="Day" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Standart_Data" nillable="true" type="tns:Standart_Data" />
  <xs:complexType name="ArrayOfUsers_Goals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users_Goals" nillable="true" type="tns:Users_Goals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers_Goals" nillable="true" type="tns:ArrayOfUsers_Goals" />
  <xs:complexType name="Users_Goals">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="GoalId" type="xs:int" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Users_Data" nillable="true" type="tns:ArrayOfUsers_Data">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users_Goals" nillable="true" type="tns:Users_Goals" />
  <xs:complexType name="ArrayOfUsers_Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users_Data" nillable="true" type="tns:Users_Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers_Data" nillable="true" type="tns:ArrayOfUsers_Data" />
  <xs:complexType name="Users_Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_GoalId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users_Data" nillable="true" type="tns:Users_Data" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronumic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AspnetUserId" type="ser:guid" />
      <xs:element minOccurs="0" name="DateBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CoachId" type="xs:int" />
      <xs:element minOccurs="0" name="Right" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoals">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Users_Goals" nillable="true" type="tns:ArrayOfUsers_Goals">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="aspnet_Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoweredUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aspnet_Membership" nillable="true" type="tns:aspnet_Membership">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aspnet_PersonalizationPerUser" nillable="true" type="tns:ArrayOfaspnet_PersonalizationPerUser">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aspnet_Profile" nillable="true" type="tns:aspnet_Profile">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aspnet_UsersInRoles" nillable="true" type="tns:ArrayOfaspnet_UsersInRoles">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUsers">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
  <xs:complexType name="aspnet_Membership">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordFormat" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoweredEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_Membership" nillable="true" type="tns:aspnet_Membership" />
  <xs:complexType name="ArrayOfaspnet_PersonalizationPerUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_PersonalizationPerUser" nillable="true" type="tns:aspnet_PersonalizationPerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_PersonalizationPerUser" nillable="true" type="tns:ArrayOfaspnet_PersonalizationPerUser" />
  <xs:complexType name="aspnet_PersonalizationPerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PathId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="PageSettings" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_PersonalizationPerUser" nillable="true" type="tns:aspnet_PersonalizationPerUser" />
  <xs:complexType name="aspnet_Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="PropertyNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValuesString" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="PropertyValuesBinary" nillable="true" type="q2:Binary" />
      <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_Profile" nillable="true" type="tns:aspnet_Profile" />
  <xs:complexType name="ArrayOfaspnet_UsersInRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_UsersInRoles" nillable="true" type="tns:aspnet_UsersInRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_UsersInRoles" nillable="true" type="tns:ArrayOfaspnet_UsersInRoles" />
  <xs:complexType name="aspnet_UsersInRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aspnet_UsersInRoles" nillable="true" type="tns:aspnet_UsersInRoles" />
  <xs:complexType name="Sports">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discipline" nillable="true" type="tns:ArrayOfDiscipline">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sports" nillable="true" type="tns:Sports" />
  <xs:complexType name="ArrayOfDiscipline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discipline" nillable="true" type="tns:Discipline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscipline" nillable="true" type="tns:ArrayOfDiscipline" />
  <xs:complexType name="Discipline">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportId" type="xs:int" />
      <xs:element minOccurs="0" name="ScaleId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoals">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Discipline" nillable="true" type="tns:Discipline" />
  <xs:complexType name="ArrayOfScales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Scales" nillable="true" type="tns:Scales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScales" nillable="true" type="tns:ArrayOfScales" />
  <xs:complexType name="Scales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discipline" nillable="true" type="tns:ArrayOfDiscipline">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scales" nillable="true" type="tns:Scales" />
  <xs:complexType name="ArrayOfSports">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sports" nillable="true" type="tns:Sports" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSports" nillable="true" type="tns:ArrayOfSports" />
</xs:schema>