SportsmenMonitoringVersion#1/Service References/ServiceConnectServer/ServiceData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSportsmens" />
      <xsd:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
      <xsd:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceData_GetGoalsFromDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoalsFromDiscipline" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetGoalsFromDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoalsFromDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_GoalsFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_GoalsFromUser" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_GoalsFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_GoalsFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsersFromGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFromGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsersFromGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFromGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddCoachToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCoachToUser" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddCoachToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCoachToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_SetUserCoach_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserCoach" />
  </wsdl:message>
  <wsdl:message name="IServiceData_SetUserCoach_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserCoachResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_GoalsFromUserAndDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_GoalsFromUserAndDiscipline" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_GoalsFromUserAndDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_GoalsFromUserAndDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetStandart_DataFromGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandart_DataFromGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetStandart_DataFromGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandart_DataFromGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_DataFromGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_DataFromGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUsers_DataFromGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers_DataFromGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllCoachs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoachs" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllCoachs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoachsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_Getaspnet_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:Getaspnet_Users" />
  </wsdl:message>
  <wsdl:message name="IServiceData_Getaspnet_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:Getaspnet_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUserFromLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFromLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUserFromLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFromLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_Auth_InputMessage">
    <wsdl:part name="parameters" element="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="IServiceData_Auth_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AuthSuperAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthSuperAdmin" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AuthSuperAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthSuperAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddSport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSport" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSportResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditSport_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSport" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSportResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteSport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSport" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSportResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDiscipline" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDiscipline" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDiscipline" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGoal" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUsers_Goals_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsers_Goals" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUsers_Goals_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsers_GoalsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUsers_Goals_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUsers_Goals" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUsers_Goals_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUsers_GoalsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUsers_Goals_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers_Goals" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUsers_Goals_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers_GoalsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUsers_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsers_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddUsers_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsers_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUsers_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUsers_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditUsers_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUsers_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUsers_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteUsers_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddStandart_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStandart_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddStandart_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStandart_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditStandart_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStandart_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_EditStandart_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStandart_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteStandart_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStandart_Data" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteStandart_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStandart_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUserFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFromId" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetUserFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllScales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllScales" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllScales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllScalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllSports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSports" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetAllSports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSportsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetDiscipliniesFromSport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiscipliniesFromSport" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetDiscipliniesFromSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiscipliniesFromSportResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceData">
    <wsdl:operation name="GetGoalsFromDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetGoalsFromDiscipline" message="tns:IServiceData_GetGoalsFromDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetGoalsFromDisciplineResponse" message="tns:IServiceData_GetGoalsFromDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers_GoalsFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUsers_GoalsFromUser" message="tns:IServiceData_GetUsers_GoalsFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUsers_GoalsFromUserResponse" message="tns:IServiceData_GetUsers_GoalsFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFromGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUsersFromGoal" message="tns:IServiceData_GetUsersFromGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUsersFromGoalResponse" message="tns:IServiceData_GetUsersFromGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCoachToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddCoachToUser" message="tns:IServiceData_AddCoachToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddCoachToUserResponse" message="tns:IServiceData_AddCoachToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserCoach">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/SetUserCoach" message="tns:IServiceData_SetUserCoach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/SetUserCoachResponse" message="tns:IServiceData_SetUserCoach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers_GoalsFromUserAndDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUsers_GoalsFromUserAndDiscipline" message="tns:IServiceData_GetUsers_GoalsFromUserAndDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUsers_GoalsFromUserAndDisciplineResponse" message="tns:IServiceData_GetUsers_GoalsFromUserAndDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandart_DataFromGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetStandart_DataFromGoal" message="tns:IServiceData_GetStandart_DataFromGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetStandart_DataFromGoalResponse" message="tns:IServiceData_GetStandart_DataFromGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers_DataFromGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUsers_DataFromGoal" message="tns:IServiceData_GetUsers_DataFromGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUsers_DataFromGoalResponse" message="tns:IServiceData_GetUsers_DataFromGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCoachs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetAllCoachs" message="tns:IServiceData_GetAllCoachs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetAllCoachsResponse" message="tns:IServiceData_GetAllCoachs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getaspnet_Users">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/Getaspnet_Users" message="tns:IServiceData_Getaspnet_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/Getaspnet_UsersResponse" message="tns:IServiceData_Getaspnet_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFromLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUserFromLogin" message="tns:IServiceData_GetUserFromLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUserFromLoginResponse" message="tns:IServiceData_GetUserFromLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/Auth" message="tns:IServiceData_Auth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AuthResponse" message="tns:IServiceData_Auth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthSuperAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AuthSuperAdmin" message="tns:IServiceData_AuthSuperAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AuthSuperAdminResponse" message="tns:IServiceData_AuthSuperAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddUser" message="tns:IServiceData_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddUserResponse" message="tns:IServiceData_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditUser" message="tns:IServiceData_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditUserResponse" message="tns:IServiceData_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteUser" message="tns:IServiceData_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteUserResponse" message="tns:IServiceData_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddSport" message="tns:IServiceData_AddSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddSportResponse" message="tns:IServiceData_AddSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditSport" message="tns:IServiceData_EditSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditSportResponse" message="tns:IServiceData_EditSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteSport" message="tns:IServiceData_DeleteSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteSportResponse" message="tns:IServiceData_DeleteSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddDiscipline" message="tns:IServiceData_AddDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddDisciplineResponse" message="tns:IServiceData_AddDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditDiscipline" message="tns:IServiceData_EditDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditDisciplineResponse" message="tns:IServiceData_EditDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteDiscipline" message="tns:IServiceData_DeleteDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteDisciplineResponse" message="tns:IServiceData_DeleteDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddGoal" message="tns:IServiceData_AddGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddGoalResponse" message="tns:IServiceData_AddGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditGoal" message="tns:IServiceData_EditGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditGoalResponse" message="tns:IServiceData_EditGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteGoal" message="tns:IServiceData_DeleteGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteGoalResponse" message="tns:IServiceData_DeleteGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers_Goals">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddUsers_Goals" message="tns:IServiceData_AddUsers_Goals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddUsers_GoalsResponse" message="tns:IServiceData_AddUsers_Goals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUsers_Goals">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditUsers_Goals" message="tns:IServiceData_EditUsers_Goals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditUsers_GoalsResponse" message="tns:IServiceData_EditUsers_Goals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers_Goals">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteUsers_Goals" message="tns:IServiceData_DeleteUsers_Goals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteUsers_GoalsResponse" message="tns:IServiceData_DeleteUsers_Goals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddUsers_Data" message="tns:IServiceData_AddUsers_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddUsers_DataResponse" message="tns:IServiceData_AddUsers_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUsers_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditUsers_Data" message="tns:IServiceData_EditUsers_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditUsers_DataResponse" message="tns:IServiceData_EditUsers_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteUsers_Data" message="tns:IServiceData_DeleteUsers_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteUsers_DataResponse" message="tns:IServiceData_DeleteUsers_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStandart_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddStandart_Data" message="tns:IServiceData_AddStandart_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddStandart_DataResponse" message="tns:IServiceData_AddStandart_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStandart_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/EditStandart_Data" message="tns:IServiceData_EditStandart_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/EditStandart_DataResponse" message="tns:IServiceData_EditStandart_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStandart_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteStandart_Data" message="tns:IServiceData_DeleteStandart_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteStandart_DataResponse" message="tns:IServiceData_DeleteStandart_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetAllUsers" message="tns:IServiceData_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetAllUsersResponse" message="tns:IServiceData_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetUserFromId" message="tns:IServiceData_GetUserFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetUserFromIdResponse" message="tns:IServiceData_GetUserFromId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllScales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetAllScales" message="tns:IServiceData_GetAllScales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetAllScalesResponse" message="tns:IServiceData_GetAllScales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSports">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetAllSports" message="tns:IServiceData_GetAllSports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetAllSportsResponse" message="tns:IServiceData_GetAllSports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiscipliniesFromSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetDiscipliniesFromSport" message="tns:IServiceData_GetDiscipliniesFromSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetDiscipliniesFromSportResponse" message="tns:IServiceData_GetDiscipliniesFromSport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceData" type="tns:IServiceData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGoalsFromDiscipline">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetGoalsFromDiscipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers_GoalsFromUser">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUsers_GoalsFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFromGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUsersFromGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCoachToUser">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddCoachToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserCoach">
      <soap:operation soapAction="http://tempuri.org/IServiceData/SetUserCoach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers_GoalsFromUserAndDiscipline">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUsers_GoalsFromUserAndDiscipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandart_DataFromGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetStandart_DataFromGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers_DataFromGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUsers_DataFromGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCoachs">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetAllCoachs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getaspnet_Users">
      <soap:operation soapAction="http://tempuri.org/IServiceData/Getaspnet_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFromLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUserFromLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auth">
      <soap:operation soapAction="http://tempuri.org/IServiceData/Auth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSuperAdmin">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AuthSuperAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSport">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDiscipline">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddDiscipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDiscipline">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditDiscipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDiscipline">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteDiscipline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGoal">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers_Goals">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddUsers_Goals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUsers_Goals">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditUsers_Goals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers_Goals">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteUsers_Goals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddUsers_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUsers_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditUsers_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteUsers_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStandart_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddStandart_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStandart_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/EditStandart_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStandart_Data">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteStandart_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFromId">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetUserFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllScales">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetAllScales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSports">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetAllSports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiscipliniesFromSport">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetDiscipliniesFromSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceData">
    <wsdl:port name="BasicHttpBinding_IServiceData" binding="tns:BasicHttpBinding_IServiceData">
      <soap:address location="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>