Superadmin/Service References/ServiceConnectServer/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSportsmens" />
  <xs:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.137.1:8000/ServiceSportsmens/ServiceData/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
  <xs:element name="GetGoalsFromDiscipline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoalsFromDisciplineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetGoalsFromDisciplineResult" nillable="true" type="q1:ArrayOfGoals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_GoalsFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_GoalsFromUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUsers_GoalsFromUserResult" nillable="true" type="q2:ArrayOfUsers_Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersFromGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUsersFromGoalResult" nillable="true" type="q3:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoachToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="coachId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoachToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCoachToUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserCoach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="isCoach" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserCoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserCoachResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_GoalsFromUserAndDiscipline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_GoalsFromUserAndDisciplineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUsers_GoalsFromUserAndDisciplineResult" nillable="true" type="q4:Users_Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandart_DataFromGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandart_DataFromGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetStandart_DataFromGoalResult" nillable="true" type="q5:ArrayOfStandart_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_DataFromGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers_DataFromGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUsers_DataFromGoalResult" nillable="true" type="q6:ArrayOfUsers_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoachs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoachsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetAllCoachsResult" nillable="true" type="q7:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getaspnet_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="aspnetuserId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getaspnet_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="Getaspnet_UsersResult" nillable="true" type="q9:aspnet_Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUserFromLoginResult" nillable="true" type="q10:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthSuperAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthSuperAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSuperAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronumic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coachId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddUserResult" nillable="true" type="q11:Users" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="status" type="q12:MembershipCreateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronumic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="coachId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditUserResult" nillable="true" type="q13:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddSportResult" nillable="true" type="q14:Sports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditSportResult" nillable="true" type="q15:Sports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiscipline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
        <xs:element minOccurs="0" name="scaleId" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDisciplineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddDisciplineResult" nillable="true" type="q16:Discipline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDiscipline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
        <xs:element minOccurs="0" name="scaleId" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDisciplineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditDisciplineResult" nillable="true" type="q17:Discipline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiscipline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDisciplineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDisciplineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
        <xs:element minOccurs="0" name="periodDays" type="xs:short" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddGoalResult" nillable="true" type="q18:Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GoalId" type="xs:int" />
        <xs:element minOccurs="0" name="disciplineId" type="xs:int" />
        <xs:element minOccurs="0" name="periodDays" type="xs:short" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditGoalResult" nillable="true" type="q19:Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GoalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGoalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers_Goals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers_GoalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddUsers_GoalsResult" nillable="true" type="q20:Users_Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsers_Goals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Users_GoalsId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsers_GoalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditUsers_GoalsResult" nillable="true" type="q21:Users_Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers_Goals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Users_GoalsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers_GoalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUsers_GoalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_goalId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddUsers_DataResult" nillable="true" type="q22:Users_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsers_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_dataId" type="xs:int" />
        <xs:element minOccurs="0" name="user_goalId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsers_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditUsers_DataResult" nillable="true" type="q23:Users_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_dataId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUsers_DataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStandart_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStandart_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="AddStandart_DataResult" nillable="true" type="q24:Standart_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStandart_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="standart_dataId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="goalId" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStandart_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="EditStandart_DataResult" nillable="true" type="q25:Standart_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandart_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="standart_dataId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandart_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStandart_DataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q26:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetUserFromIdResult" nillable="true" type="q27:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetAllScalesResult" nillable="true" type="q28:ArrayOfScales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetAllSportsResult" nillable="true" type="q29:ArrayOfSports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscipliniesFromSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscipliniesFromSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServiceSportsmens" minOccurs="0" name="GetDiscipliniesFromSportResult" nillable="true" type="q30:ArrayOfDiscipline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>